::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #9fa09f;
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background-color: #4f504f;
  }
  
.bigCont{
    overflow-y: scroll;
}
.about-us-container {
    display: flex;
    overflow-x: hidden;
    margin-top: -30px;
  }
  
  .text-container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    padding: 20px; 
    margin-left: 5%;
  }
  
  .Logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    padding: 20px; 
  }
  
  .Logo {
    max-width: 100%;
  }
  
  .max-h-100 {
    max-width: 700px;
    margin-left: 170%;
    padding-left: 50%;
  }
  
  @media (max-width: 768px) {
    .text-container-container {
      max-width: 100%;
      margin-left: 0%;
    }
  
    .Logo-container {
      display: none;
    }
  
    .text-container {
      font-size: 14px; 
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .text-container-container {
        max-width: 50%;
        margin-left: 0%;
      }
  
    .Logo-container {
      max-width: 50%; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .text-container {
      font-size: 16px;
    }
  
    .max-h-100 {
      max-width: 570px; 
    }
  }
  