/* General styles */
body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.aside {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  background: #1c1e29;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
  border-bottom: 2px solid #2b824c;
  padding: 16px;
  margin-bottom: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.CodeMirror {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  min-height: calc(100vh - 60px); /* Subtract the height of the header */
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

/* Chat container styles */
.chat-container {
  background: #fff;
  height: 100%; /* Fill the remaining height of the container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.message-input {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
}

/* Button styles */
.btn-edit {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.leaveBtn {
  background: #ee0c0c;
  width: 100%;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.leaveBtn:hover {
  background: #a50808;
}

.copyBtn {
  background: #4aed88;
  width: 100%;
  margin-left: auto;
}

.copyBtn:hover {
  background: #2b824c;
  transform: scale(1.1);
}

/* User list styles */
.Users {
  margin-bottom: 20px;
  border-top: 2px solid #2b824c;
}

