.xwz{
    background-image: url("https://img.freepik.com/premium-photo/colorful-line-wave-background-geometric-banner-flyer-wallpaper-template_665280-5059.jpg?w=360");
    color: #ffffff;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: scroll; */
}
/* #root{
    overflow-y: scroll;
} */
.smpct {
    max-width: 90%;
    margin: 0 auto;
    
    padding: 20px;
    /* overflow-y: auto; */
}

.hdng {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

.stt {
    margin-bottom: 40px;
}

.sttcntnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stinfo {
    flex: 1;
}

.stinfo h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stinfo p {
    font-size: 18px;
    margin-bottom: 10px;
}

.stimge {
    flex: 1;
    text-align: center;
    margin: 30px;
}

.stimge img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.frm {
    display: flex;
    flex-direction: column;
}

.frmgp {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

textarea {
    resize: vertical;
}

.btnsub {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
}

.btnsub:hover {
    background-color: #0056b3;
}
