.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.leaveBtn {
    background: #4aed88;
    width: 100%;
    margin-left: auto;
    margin-top: 20px;
}

.leaveBtn:hover {
    background: #2b824c;
}

.mainWrap {
    display: grid;
    grid-template-columns: 15% 1fr;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex; 
    height: 100vh;
    flex-direction: column;
}
.asideInner {
    flex: 1;
    border-bottom: 2px solid #2b824c;
    margin-bottom: 10px;
}

.fileTreeView{
   
}
.Users {
   
}
.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.logoImage {
    height: 60px;
}


.CodeMirror {
    min-height: calc(100vh);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}