/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.dark-background {
  background-color: #222;
  color: #fff;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 4rem 0;
}

/* Home Page Styles */
.homePageWrapper {
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 400px;
  max-width: 90%;
}

.homePageLogo {
  height: 8rem;
  margin-bottom: 2rem;
}

.inputGroup {
  margin-bottom: 1.4rem;
}

.mainLabel {
  margin-bottom: 0.5rem;
  display: block;
}

.inputBox {
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  background: #eee;
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 10rem;
  margin-left: auto;
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 2rem auto;
  text-align: center;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #282a36;
  padding: 1rem 2rem;
}

.navbar-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #777;
}
